// colors

$color-primary: #cce5ff;
$color-secondary: #58e1c1;
$color-text: #777;
$color-hover: #0000cc;
$color-background: #dafffd;
$color-detail: #51ddfc;
$color-white: #fff;

// Breakpoints

$brk-medium: '(max-width: 768px)'; 

